<h3>База</h3>

<table id="mmms" class="display" data-source="<%= mmms_url(format: "json") %>">
  <thead>
  <tr>
    <th>Mdu</th>
    <th>Адрес</th>
    <th>Подъезд</th>
    <th>Ip</th>
    <th>Sys name</th>
    <th>Доступ</th>
    <th>Mod</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Mmm', new_mmm_path %>